{{#lessons/lesson-header (readonly model) as |header|}}
  {{header.title}}
  {{header.subtitle}}

  {{#header.highlights class='row' as |highlights|}}
    {{highlights.cards class='col-md-7 p-relative d-flex flex-column'}}

    {{#header.body tagName='div' class='col-md-5 d-none d-md-block'}}
      {{highlights.list tagName='ul' class='pl-0 d-flex flex-column justify-content-between'}}
    {{/header.body}}
  {{/header.highlights}}
{{/lessons/lesson-header}}

{{#lessons/lesson-main (readonly model) as |lesson|}}
  <div class='row'>
    {{#lesson.toc tagName='aside' class='col-md-4' as |toc|}}
      {{toc.title class='d-none d-md-block'}}
      {{#toc.body tagName='ul' class='nav text-right'}}
        {{#each model.sections as |section|}}
          {{toc.item (concat '#' section.slug) section.title
            tagName='li'
            class=(concat 'nav-item' (if (includes model.highlights section) ' highlight'))
            linkClass='nav-link'}}
        {{/each}}
      {{/toc.body}}
    {{/lesson.toc}}

    {{#lesson.sections tagName='main' class='col-md-8' as |section|}}
      {{section.anchor}}
      {{section.title}}

      {{#section.body tagName='div'}}
        {{#if (and section.raw.isLocked (not lessons.application.isSubscriber))}}
          {{lessons/lesson/signup-form
            email=lessons.application.email
            validations=lessons.application.validations
            onInput=(action (mut lessons.application.email))
            onSubmit=(action lessons.application.onEmailSubmitted lessons.application lessons.application.email (concat 'lessons/' section.raw.slug))}}
        {{else if section.layoutFetcher.isRunning}}
          <div class='mt-4 pt-4 mb-4 pb-4'>
            {{loading-spinner}}
          </div>
        {{else if section.layoutFetcher.isSuccessful}}
          {{async-layout section.layoutFetcher.value
            section=section.raw
            trackAffiliate=(action lessons.application.trackAffiliate lessons.application)
            nudge=(action lessons.application.nudge lessons.application)}}
        {{else}}
          <p class='text-center'>
            An error has occurred; please try reloading the page. We have been alerted, and would appreciate any further feedback at chef@cookformom.com.
          </p>

          {{#if section.layoutFetcher.error}}
            <p class='small text-center'>
              Reason: {{section.layoutFetcher.error}}
            </p>
          {{/if}}
        {{/if}}
      {{/section.body}}
    {{/lesson.sections}}
  </div>
{{/lessons/lesson-main}}
