{{#each highlights as |section|}}
  <li class='i-{{section.slug}} {{if section.active 'sim-hover'}}'
    onmouseover={{action activate section}}
    onmouseout={{action deactivate section}}>
    <a href='#{{section.slug}}'>
      {{markdown-fragment section.description}}
    </a>
  </li>
{{/each}}
