{{#if (eq section.slug 'introduction')}}
  <p> Hello new cook. Welcome to <em>Week One</em> of {{link-to 'Cook For Mom' 'index'}}. In an ideal world, we humans would be born with the ability, confidence and <em>cooking skills</em> to feed ourselves. But if you’ve signed up for this <em>series of lessons</em> in order to make dinner for your mother, well that’s great too. </p>
  <p> I assume you’ve peeked at {{!todo link}}<em>week six</em> and its recipe for a <em>multi-course meal</em>, and are wondering how we’re going to get there from week one, where we’re starting by making <em>a salad</em>. Before we can prepare a good cassoulet, the elements of white beans, lamb sausage and confit duck all in perfect harmony, we need to learn the <em>essential skills</em> of working with a <em>kitchen knife</em>. First of all, <em>don’t feel bad</em> because you don’t know how to cook. No one taught you. It’s not part of our public education. But, starting now, that’s what we’re going to do. </p>
  <p> Well, I’ve got some <em>good news</em> and bad news for you. Cooking is <em>work</em>. Just like exercise is work, relationships are work and work is work. There are <em>no shortcuts</em>. But just like those other areas, if you put in the work, you are <em>guaranteed to improve</em> and <em>reap profound benefits</em>. Your life will be better for it and you will wonder why you didn’t learn sooner. </p>
  <p> This first lesson is going to be <em>super simple</em>. We won’t be using any heat, just raw ingredients, focussing instead on <em>knife use</em> and <em>safety</em>. </p>

{{else if (eq section.slug 'choosing-a-knife')}}
  <p> <em>Different knives</em> serve <em>different purposes</em>. You might have seen—or own!—a set, bought a long time ago, containing a <em>chef’s knife</em> (that’s the 8 to 10-inch one), a <em>serrated knife</em>, <em>boning knife</em> and <em>paring knife</em>. Or you might have fancy <em>imported knives</em> from Japan, where a catalogue of <em>different-shaped blades</em> — deba, usuba, santoku — are intended for <em>specific use</em>. </p>
  <p> About <em>90% of my cooking</em> is done with <em>one knife</em>, an <em>8-inch chef blade</em>. If you don’t own any knives, this is a <em>good place to start</em>. A <em>cheap serrated</em> or paring knife will <em>serve you fine</em>; you will <em>likely never</em> use a <em>boning knife</em>. So, if you don’t yet have a knife, or are in the market for a new one, I <em>recommend</em> you invest your money in a <em>proper chef’s knife</em> rather than pay for an <em>expensive set</em> of <em>mostly-unused</em> knives. </p>
  <p> <em>Go to a store</em> where you can hold a variety of knives. Don’t get obsessed with <em>fancy specialty knives</em> or <em>carbon-based blades</em> that <em>require wiping</em> down with <em>each use</em>. Just <em>pick up</em> a knife based on <em>how it feels</em> in <em>your hand</em>. People come in different sizes. So the <em>weight</em> and <em>balance</em> of the right knife is <em>different</em> for each of us. </p>
  <p> What <em>matters most</em> is that a knife <em>feels right</em> in your hand and <em>is sharp</em>. The adage is true: a <em>dull knife</em> is <em>more likely</em> to <em>cut you</em> than a sharp one. Because a sharp knife does what you ask of it, like slicing through a beet. A dull knife meets <em>resistance</em>. It forces you to apply <em>too much pressure</em>, increasing the chances of <em>slipping</em> and driving the blade into <em>your hand</em>. </p>

  <blockquote>
    <p> Does <em>sharpening</em> your knife sound <em>daunting</em>? We know how you feel. We can't all be <em>Gordon Ramsay</em>! </p>
    {{youtube-player 'SBn1i9YqN1k'}}

    <p> Have no fear! <em>The Wirecutter</em> has a fantastic article that can help you find <a href='https://thewirecutter.com/reviews/best-knife-sharpening-tool/' target='_blank'>The Best Knife Sharpening Tool</a> for you. TL;DR: it's probably the <a onclick={{action trackAffiliate 'amazon' 'knife-sharpener'}} href='https://www.amazon.com/gp/product/B007IVBET0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B007IVBET0&linkCode=as2&tag=cookformom-20&linkId=c66061539061b61b5beaca5e3520e124' target='_blank'>ChefsChoice ProntoPro 4643</a>. </p>

    {{#with (moment '2018-04-12') as |deadline|}}
      {{#if (is-same-or-before deadline precision='day')}}
        <p> <em>Even better</em>: let us send you one, <em>free</em>! <em>Share</em> before and after photos of <em>a salad you've made</em> on <em>Instagram</em>—make sure to tag <a href='https://instagram.com/cookformomdotcom' target='_blank'>@cookformomdotcom</a> when you do—before <em>{{moment-format deadline 'MMM DD YYYY'}}</em>. </p>
        <p> We will select photos from <em>up to three</em> lucky <em>subscribers</em>, who will each be sent a <em>free ProntoPro 4643</em>. </p>

        {{#unless lessons.application.didSubmit}}
          <button class='btn btn-primary' onclick={{action nudge 'knife-skills' 'contest'}}>
            Click here to sign up today!
          </button>
        {{/unless}}
      {{/if}}
    {{/with}}
  </blockquote>

{{else if (eq section.slug 'holding-a-knife')}}
  <p> When you’re holding a knife, <em>don’t grip</em> it <em>too tightly</em>. Many people form a <em>tight fist</em> around the hilt of the blade. Short term, this will make <em>slicing difficult</em>. And long term, it will <em>hurt your wrist</em>. </p>
  <p> Instead, start by making a <em>Spider-Man hand</em>. You know how Spidey presses his <em>middle and ring fingers</em> against his <em>palm</em> to shoot webs? That’s how you should hold a knife. The <em>pressure</em> should be between those <em>two fingers</em> and your <em>palm</em>. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/grip-spidey.png'>
    <source src='/assets/videos/lessons/knife-skills/grip-spidey.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/grip-spidey.mp4' type='video/mp4'>
  </video>

  <p> Let’s <em>feel the difference</em> between a <em>“fluid”</em> vs. a <em>stiff grip</em>. Try <em>picking up</em> your knife with <em>all your fingers</em> curled around the <em>handle’s centre</em>. Make a little <em>chopping motion</em> and look at the blade. Now <em>slowly release</em> your <em>pinky finger</em>, <em>index finger</em> and <em>thumb</em>. <em>Maintaining</em> the grip with your remaining two fingers and palm, <em>relax</em> your <em>wrist</em>. Make that <em>chopping motion</em> again and see how the <em>blade moves fluidly</em> instead of stiffly. <em>Feel</em> how the knife is <em>safely</em> in your <em>control</em>, but it’s <em>not rigid</em>. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/grip-tutorial.png'>
    <source src='/assets/videos/lessons/knife-skills/grip-tutorial.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/grip-tutorial.mp4' type='video/mp4'>
  </video>

  <p> Next, with the <em>hilt</em> still held between your <em>palm</em>, <em>ring</em> and <em>middle fingers</em>, <em>pinch the blade</em> with your <em>index finger</em> and <em>thumb</em> while your <em>pinky finger</em> just <em>dangles</em>. Do you <em>feel</em> that? That’s <em>control</em>. The <em>blade</em>, slightly <em>loose</em> in your grip, is suddenly <em>stabilized</em>. </p>
  <p> <em>Congratulations!</em> You are now holding a knife properly. </p>
  <p> And now more bad news: this isn’t one of those lessons that you master right away; this <em>will not</em> even <em>feel natural</em> at first, in part because you have likely been holding a knife wrong all your life. We will need to <em>practice</em> to move this knowledge from our short term to long term memory. It takes <em>a lot of repetition</em> for the conscious act to become a <em>routine</em>, <em>subconscious behaviour</em> we engage in <em>without thinking</em>. </p>
  <p> You may find yourself <em>forgetting</em> or <em>lapsing</em> into <em>bad knife habits</em>. This is <em>okay</em>, and is part of the <em>learning process</em>; just <em>notice</em> the difference, <em>correct</em> your form, and <em>move on</em> with the prep. But, like many physical skills, this is <em>not pointless formality</em>. If you’ve ever worked out with weights, you know that <em>bad form</em> can result in <em>injury</em> (not to mention <em>wasted energy</em>). It’s the same with knife skills. So <em>be mindful</em> of your grip. </p>

{{else if (eq section.slug 'setting-up-a-cutting-board')}}
  <p> Now that we’re holding our knives, let’s do something with them. We will start by setting up your cutting board. Grab a <em>small kitchen towel</em>, or just some <em>paper towels</em>. <em>Wet</em> the <em>towel</em> and <em>spread it out</em> over your <em>clean kitchen counter</em>. Then place your <em>cutting board</em> over the <em>towel</em>. This will <em>prevent</em> your board from <em>dangerously sliding</em> underneath you <em>as you slice</em>. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/board-towel.png'>
    <source src='/assets/videos/lessons/knife-skills/board-towel.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/board-towel.mp4' type='video/mp4'>
  </video>

{{else if (eq section.slug 'the-motion-of-your-blade')}}
  <p> A <em>kitchen knife</em> is <em>designed</em> to be used in a <em>back and forth motion</em>, not up and down. </p>
  <p> But many people <em>instinctively</em> use a kitchen knife like a <em>guillotine</em>, bringing it <em>directly down</em> on what they’re trying to cut. </p>

  <img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/chop-conan.gif' />

  <p> The <em>problem</em> with this is that a <em>guillotine</em> is a <em>giant blade</em> dropped from a <em>great height</em>. Your <em>kitchen knife</em>, when used in this manner, is <em>ineffective</em>. Chopping <em>straight down</em> only <em>engages</em> a <em>small section</em> of the <em>blade</em>, and unless it’s razor sharp, the result is <em>more pushing</em> than slicing. Pressing <em>straight down</em> puts <em>unnecessary pressure</em> on your <em>wrist</em>, <em>crushes food</em> and wears away a <em>dull spot</em> in the <em>centre</em> of your <em>blade</em>. With the proper <em>slicing motion</em>, you’ll engage the <em>whole blade</em> and put <em>less pressure</em> on your <em>wrist</em>. </p>

  <img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/chop-andre.gif' />

  <p> To <em>get the most</em> out of your blade, you want a <em>sawing motion</em>. Like a saw, let the <em>length</em> of the blade <em>glide over</em> the object you’re cutting, <em>pushing down slightly</em> as you <em>draw the blade forward</em>, and <em>lifting up</em> as you <em>draw back</em>. Your <em>arm</em> should put <em>more energy</em> into <em>moving forward</em> than down. Only <em>apply pressure</em> on the <em>forward motion</em>. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/motion-saw.png'>
    <source src='/assets/videos/lessons/knife-skills/motion-saw.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/motion-saw.mp4' type='video/mp4'>
  </video>

  <p> Place the <em>tip</em> of your blade <em>on the board</em>. Now try that same <em>slicing/sawing motion</em> again, but <em>without</em> ever letting the blade <em>leave the board</em>. It <em>takes time</em> to <em>master</em>. But the <em>gentle</em>, controlled <em>rocking motion</em> is far <em>more effective</em>, <em>safe</em> and <em>precise</em> skill than bashing a carrot with a sharp piece of metal. And now for the other hand. </p>

{{else if (eq section.slug 'basic-knife-safety')}}
  <p> The <em>guiding hand</em> is known as <em>the claw</em> because you <em>curl your fingers</em> inward, <em>away</em> from the <em>knife</em>. If you’re <em>holding</em> a carrot <em>like a flashlight</em>, or if you have your hand <em>spread out</em> on the board, you are always in <em>danger</em> of <em>slicing</em> off a <em>finger</em>. With the claw hand, your digits are safely tucked away. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/motion-claw.png'>
    <source src='/assets/videos/lessons/knife-skills/motion-claw.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/motion-claw.mp4' type='video/mp4'>
  </video>

  <p> <strong>BONUS:</strong> The <em>next level</em> up in safety is to keep <em>one knuckle</em> of your claw hand in <em>constant contact</em> with the <em>blade</em>. This seems dangerous. But it’s actually <em>safer</em>. With the <em>knuckle connected</em> and the <em>fingers</em> all <em>tucked away</em>, if the blade <em>never leaves</em> the board, it’s <em>not possible</em> for the knife to rise <em>high enough</em> to <em>cut</em> yourself. In cooking school they drilled this into us. But I rarely see people using the technique in professional kitchens, other than for slicing tiny, delicate items, like basil or chives. </p>
  <p> <em>Take a minute</em> to <em>rehearse</em> the <em>saw</em> and the <em>claw</em>, because we’re about to start slicing. </p>

{{else if (eq section.slug 'more-knife-safety')}}
  <p> Let’s <em>practice</em> with <em>carrots</em>. They’re <em>inexpensive</em>. And no matter how many you cut up while practicing, you’ll eat them eventually. </p>
  <p> First, <em>peel</em> a <em>carrot</em> and <em>cut</em> it into two or three <em>finger-length</em> pieces. </p>
  <p> When you’re working with <em>round vegetables</em>, there’s a <em>danger</em> of the object <em>rolling under</em> your <em>free hand</em>, accidentally <em>exposing</em> your <em>fingers</em> to the <em>moving knife</em>’s edge. We <em>avoid this</em> by <em>flattening</em> or “squaring off”. You can do this by <em>cutting</em> the <em>carrot pieces</em> in <em>half lengthwise</em>, or just cutting a small strip off, so it <em>lays flat</em> on the board. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/cut-flatten.png'>
    <source src='/assets/videos/lessons/knife-skills/cut-flatten.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/cut-flatten.mp4' type='video/mp4'>
  </video>

  <p> <em>Feel</em> the difference? Now that you’ve <em>flattened</em> the <em>bottom</em>, it <em>can’t roll</em> on you. And it’s time to <em>combine</em> our <em>two techniques</em>. Use your <em>knife hand</em> to <em>slice</em> while your <em>claw hand</em> holds the <em>carrot still</em> on the board, <em>gradually feeding</em> it into the knife as you slice. </p>

  <video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/cut-feed.png'>
    <source src='/assets/videos/lessons/knife-skills/cut-feed.webm' type='video/webm; codecs=vp9,vorbis'>
    <source src='/assets/videos/lessons/knife-skills/cut-feed.mp4' type='video/mp4'>
  </video>

  <p> <em>That’s it</em>. Now that you know the essentials, you <em>must practice</em>. This technique <em>cannot be mastered</em> without a <em>great deal of practice</em>. </p>

{{else if (eq section.slug 'the-cuts')}}
  <p> As for the many, <em>varied cuts</em> — julienne, batonnet, brunoise, chiffonade. <em>Don’t worry</em> about all that. We’re <em>not</em> going to attempt anything <em>fancy</em> (or dangerous), like the <em>katsuramuki cut</em>. </p>
  {{youtube-player 'n0Wp3ul2N0U'}}

  <p> Just <em>chunks</em> and <em>strips</em>. </p>
  <p> <em>No matter what form</em> food takes in its <em>raw state</em> — round, square, oblong, amorphous — you’re going to <em>cut</em> it into one of two basic shapes, a <em>chunk</em> or a <em>strip</em>. And that chunk can be <em>big</em> or <em>small</em>, <em>perfectly cubed</em> or hacked at <em>random angles</em>. Regardless of the precision involved, you’re still just aiming for those <em>two shapes</em>, <em>long</em> or <em>short</em>, <em>big</em> or <em>small</em>. </p>
  <p> <em>Practice</em> with your <em>carrot</em> by <em>slicing lengthwise</em>. Now you have <em>wide strips</em> of carrot. </p>
  <p> Want <em>thin strips</em>? <em>Stack</em> a few slices <em>on top of each other</em> and <em>slice lengthwise</em> again. If they’re <em>thick</em> you’ve got a <em>batonnet</em>. If they’re <em>thin</em> you’ve made a <em>julienne</em>. </p>

  <img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/cut-types.jpg' />

  <p> Now if you <em>take your strips</em> and <em>slice them again</em>, <em>width-wise</em>, you’ll have a <em>dice</em>. If it’s <em>small</em> enough, it’s a <em>brunoise</em>. </p>

  <p> I worked in a restaurant where the chef would come around my work station and remove pieces that weren’t perfectly squared. It makes no difference to the flavour, he told me. But when diners are spending $100 each for dinner, everything needs to look perfect. Your kitchen doesn’t need to meet that level of performance. And letting go of perfectionism starts with chopping a carrot. </p>
  {{youtube-player 'UblxxR7fBPk'}}

  <p> <strong>TIP:</strong> When <em>scraping</em> chopped vegetables from board to bowl, <em>use the flat</em> of the knife, <em>not the sharp</em> side, which <em>dulls</em> the blade. </p>

{{else if (eq section.slug 'the-basics-of-salad-and-salad-dressing')}}
  <p> Now that you know how to safely use a knife, let’s make <em>something simple</em>. A salad. Everyone knows how to make <em>a salad</em>. But if you <em>don’t know how</em> to make it <em>taste good</em>, it will always feel like <em>forced labour</em> to make and eat one of the <em>easiest</em> and <em>most nutritious</em> meals. </p>
  <p> Here are the <em>key elements</em> of a <em>good salad</em> </p>

  <ol>
    <li> <em>Fresh</em> ingredients (<em>crisp lettuce</em> good, wilted lettuce bad) </li>
    <li> A <em>simple</em>, non-sweetened <em>dressing</em> (no point in eating vegetables if you can’t do it without sugar) </li>
    <li> Something <em>crispy</em> </li>
  </ol>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-6.jpg' />

  <p> Forget about recipes. Any time you see <em>salad recipes</em> in a cookbook, it’s <em>just suggestion</em>. The amounts are <em>irrelevant</em> to <em>your tastes</em>. Theoretically, <em>anything goes</em> in a salad. If you like an ingredient, it works. If you love it, add more. Unlike the purism of Italian pasta, where chefs will tell you that more than three ingredients spoils the appreciation for the noodles, <em>the more the merrier</em> in a salad (so long as you’re not just adding fried chicken and Snickers bars), which <em>gets dull</em> quickly if there are <em>too few elements</em>. </p>
  <p> The only quantifications you need are this—a <em>typical</em> salad <em>dressing</em> is <em>one part acid</em> to <em>two parts fat</em>. That’s it. Do this now. And don’t use measuring spoons. Into a <em>mixing bowl</em>, give a <em>shake</em> from a <em>bottle of vinegar</em>, and <em>two shakes</em> from a <em>bottle of oil</em> (red, white, balsamic; olive, grapeseed, walnut — it doesn’t matter). <em>Don’t measure.</em> <em>Sprinkle</em> in some <em>salt</em> and <em>pepper</em>. Use a <em>whisk</em> (or a fork) to <em>mix it</em> and you’ve got salad dressing. </p>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-5.jpg' />

  <p> Using this base, you can get as <em>fancy</em> as you want adding <em>different types</em> of <em>oil</em> or <em>vinegar</em>, <em>mustard</em>, <em>chillies</em>, <em>herbs</em>, <em>tahini</em> and on and on. But that <em>ratio</em> is all that <em>matters</em>. <em>Too thin</em> and your salad will be <em>soggy</em>. <em>Too thick</em> and the dressing <em>won’t spread</em>. You can <em>whisk until</em> the dressing <em>emulsifies</em> (a solidifying of two liquids that are not soluble) but it <em>makes no difference</em> to the <em>taste</em>. </p>

{{else if (eq section.slug 'recipe-salad-and-dressing')}}
  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-1.jpg' />

  <p> It would be <em>preposterous</em> to give you <em>measurements</em> for things like <em>lettuce</em> and <em>carrots</em>. Instead, let me <em>suggest tips</em> for preparing each of the <em>ingredients on this list</em>. And the <em>only direction</em> is, pick <em>at least three items</em> (at least <em>one with crunch</em>) and <em>combine them</em> in a <em>bowl</em> with <em>dressing</em>. Though whatever you do, <strong>DON’T EVER</strong> dress a salad <em>in advance</em>. If you’re <em>packing a salad</em> for the office, the <em>acid</em> in a dressing will just <em>wilt</em> and <em>sog</em> the <em>vegetables</em> by lunchtime. </p>
  <p> <strong>Lettuce</strong>—Yes, you have to <em>wash lettuce</em>. It’s annoying. And you can <em>buy pre-washed</em> lettuce. But it <em>doesn’t stay fresh</em> long. Even <em>organic lettuce</em> needs to be washed, as it usually <em>contains soil</em> near the stem. If you don’t have a <em>salad spinner</em>, just <em>rinse each leave</em> and <em>submerge</em> all of it in a <em>bowl of cold water</em>. <em>Strain</em> and let to <em>dry on towels</em>. <em>Store lettuce</em> in the <em>fridge</em> in a <em>container</em> with a <em>damp cloth over top</em>. </p>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-4.jpg' />

  {{! todo link week 3 }}
  <p> <strong>Tomato</strong>—I’m no fan of tomatoes in salad. Most have <em>too much water</em> content. Stick with <em>cherry tomatoes</em>. But if you’re using larger tomatoes, <em>remove</em> the juicy <em>middle section</em> (ideally to toss into a tomato sauce or beef stock, which we will get to in week 3). </p>
  <p> <strong>Kale</strong>—There are <em>multiple species</em> of kale on supermarket shelves — redbor, red Russian, curly, Siberian and cavolo nero (aka Tuscan or dinosaur kale). The <em>cavolo nero</em> is terrific <em>raw</em>. But you’ve got to <em>massage it</em> a little. Use your hands to <em>tear out</em> the <em>centre rib</em> from each leave. Then, working with <em>a few leaves</em> at a time, <em>mash</em> them <em>in your palms</em> before slicing. The <em>pressure</em> will <em>break down</em> some of the <em>connective fibres</em> of the plant, making them <em>easier to chew</em>. If your salad is <em>more kale</em> than lettuce, consider <em>tossing</em> in the dressing <em>15-20 minutes</em> before serving. </p>
  <p> <strong>Carrot</strong>—Use a <em>cheese grater</em> to <em>shred</em> carrots. It’s <em>faster</em> than <em>chopping</em> and the <em>texture</em> is great in a salad. </p>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-7.jpg' />

  <p> <strong>Cucumber</strong>—Most of us have <em>been burned</em> by trying to eat a <em>hard</em>, dry <em>pickling cucumber</em>. So when we see the variety of cucumbers in the aisle, we may be weary and default to the <em>English</em>, a perfectly <em>respectable cucumber</em>. But try the <em>more flavourful Persian</em>. <em>Before slicing</em> the small cucumber, <em>bash it</em> a bit with the <em>hilt of your knife</em>. This <em>softens</em> it up and <em>releases</em> its <em>juices</em>. </p>
  <p> <strong>Sprouts</strong>—Sprouts are <em>yummy</em>, <em>crunchy</em> and <em>good for you</em>. But they’re not very hearty once they’ve been harvested. Try to <em>use</em> them <em>as soon as possible</em>. </p>
  <p> <strong>Beets</strong>—Did you know you can eat <em>beets raw?</em> Sometimes I <em>roast</em> them for salad. But if you have a <em>food processor</em>, just <em>peel</em> and <em>quarter</em> them, then <em>pulse</em> until they are the <em>size of gravel</em>. When adding to a salad, beets work better as <em>garnish</em>, as they tend to <em>turn everything pink</em> if added to the mix. </p>
  <p> <strong>Nuts and seeds</strong>—Literally <em>any nut</em> or <em>seed</em> will give your salad <em>crunch</em> and <em>protein</em>. I <em>premix</em> a <em>big batch</em> about <em>once a month</em>. Here’s my Method. On a <em>baking sheet</em>, <em>mix</em> some <em>nuts</em> and <em>seeds</em> (I use almonds, cashews, pumpkin seeds and sunflower seeds) with <em>olive oil</em>, <em>honey</em>, <em>salt</em> and <em>pepper</em>. <em>Bake</em> at <em>300F</em> until the kitchen <em>smells like nuts</em>, about <em>10 minutes</em>. <em>Remove</em> from oven and <em>cool</em> before storing in a <em>lidded container</em>. </p>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-8.jpg' />

  <p> <strong>Onions</strong>—I’ve heard a lot of <em>wild theories</em> on how to <em>avoid crying</em> when <em>cutting onions</em>: light a candle, wear goggles, freeze, soak in cold water, hold bread in your mouth. They are all <em>nonsense</em>. There is, however, a <em>trick</em> to quickly make <em>raw onions</em> more <em>palatable</em>. <em>Before any other part</em> of your salad, <em>slice</em> your <em>onions</em> and <em>soak</em> them in <em>whatever acid</em> you’re using <em>for dressing</em>. By the time you chop the rest of your vegetables, the onion will have <em>mellowed a bit</em>. </p>
  <p> <strong>Cheese</strong>—It can seem like <em>a cheat</em>. Parents use cheese to get kids to eat vegetables. But used sparingly, a <em>crumbled tablespoon</em> of <em>feta</em> or <em>shaving</em> of <em>parmesan</em>, adds a lot of dimension to a salad. In salad diplomacy, everything is open to negotiation if it gets the necessary parties to the table. </p>

{{else if (eq section.slug 'advanced-recipe-ceviche')}}
  <img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-5.jpg' />

  <p> Understandably, once you’ve <em>learned</em> to use a <em>chef’s knife</em>, you want to use it. And you <em>want something fancier</em> to show for it. Here’s a recipe for a dish that <em>seems fancy</em> but is in fact <em>very easy</em>. While it <em>does not require cooking</em>, it does present <em>ample opportunity</em> to <em>practice</em> your <em>knife work</em>. </p>
  <p> <em>Ceviche</em> is just <em>fish</em> prepared in a <em>bath of citrus juice</em>. Some people say “cooked” or “cured”. It’s actually a <em>chemical process</em> called <em>denaturing</em>, which <em>breaks</em> many of the <em>bonds</em> that hold <em>protein molecules</em> in their shape. The <em>acid</em> of <em>lemon or lime</em> changes the <em>fish’s flesh</em> from its plush, raw, <em>translucent state</em> to an <em>opaque firmness</em> (and flavours it as well). The <em>type</em> of fish <em>doesn’t matter</em>. Sea bream, tuna, arctic char or halibut all <em>work fine</em>. So long as it <em>isn’t</em> a really <em>dense fish</em>, like pickerel or catfish. It just has to be <em>as fresh as possible</em>. </p>

  <p> Basic ceviche <em>ingredients</em>: </p>
  <ol>
    <li> Fresh fish </li>
    <li> Lime </li>
    <li> Salt </li>
    <li> Chili (any kind of fresh chilli, or a dried chilli, rehydrated by soaking in hot water for five minutes) </li>
    <li> Onion </li>
    <li> Cilantro </li>
    <li> Avocado </li>
  </ol>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-6.jpg' />

  <p> Just <em>slice</em> some <em>fish</em> into <em>bite-sized chunks</em> or strips (remember these shapes from above?) and <em>mix it</em> with <em>lime juice</em>. That’s literally all there is to it. </p>
  <p> The <em>larger</em> the piece, the <em>longer</em> it takes the <em>acid</em> to <em>reach the centre</em> of the <em>fish</em>. With a <em>dark fish</em> like tuna, you’ll <em>see</em> it <em>change colour</em> very <em>quickly</em>. <em>Season</em> with <em>salt</em> and you’ve got ceviche of the most basic kind. </p>
  <p> Some people like to <em>leave it overnight</em> but with <em>bite-sized</em> pieces of fish, it only needs <em>five minutes</em> for the citrus to permeate. How much <em>lime juice</em>? <em>Start</em> with <em>half a lime</em> and <em>taste</em> it. If your fish is <em>fresh enough</em> to be used <em>for ceviche</em>, it’s fresh enough to be eaten as <em>sushi</em>. </p>

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-3.jpg' />

  <blockquote>
    <p> Don’t know how to pick out fresh fish or talk to your fishmonger? Here’s <a href='http://www.chatelaine.com/food/kitchen-tips/how-to-buy-sustainable-seafood/' target='_blank'>a guide I wrote for Chatelaine.</a> </p>
  </blockquote>

  <p> The <em>essential technique</em> is just <em>fish</em> and <em>lime juice</em>; anything you add is just to round out the dish. I’ve seen <em>100 different versions</em> of this <em>Latin American</em> dish, served with yuzu, apples, kumquats, sesame oil, edamame, lemongrass, watermelon, etc. The most <em>common presentation</em> is with <em>chilli</em>, <em>onion</em>, <em>cilantro</em>, <em>sweet potato</em>, and <em>corn</em>. </p>
  <p> For a <em>no-cooking</em> version, stick with the <em>chilli</em>, <em>onions</em> and <em>cilantro</em>. You can <em>use the onion</em> to <em>practice slicing</em> as thin as possible and the <em>chilli</em> for <em>chopping</em> as small as possible (aka <em>mincing</em>). <em>Cilantro</em> is a hearty herb. Unlike basil or oregano, it <em>won’t bruise</em> if you <em>chop it roughly</em>. A few slices of <em>avocado</em> or <em>corn chips</em> should turn this into a dish. </p>

{{else if (eq section.slug 'homework')}}
  <p> <em>Every day</em> for the <em>next week</em>, make a <em>salad</em>. But <em>every day</em>, try at least <em>one new ingredient</em> in your salad. </p>

  {{#with (moment '2018-04-12') as |deadline|}}
    {{#if (is-same-or-before deadline precision='day')}}
      <blockquote>
        <p> If you <em>share</em> before and after photos of <em>your salads</em> on <em>Instagram</em>—make sure to tag <a href='https://instagram.com/cookformomdotcom' target='_blank'>@cookformomdotcom</a> when you do—before <em>{{moment-format deadline 'MMM DD YYYY'}}</em>, you could receive a free knife sharpener! </p>
        <p> We will select photos from <em>up to three</em> lucky <em>subscribers</em>, who will each be sent a <em>free ProntoPro 4643</em>. </p>

        {{#unless lessons.application.didSubmit}}
          <button class='btn btn-primary' onclick={{action nudge 'knife-skills' 'contest'}}>
            Click here to sign up today!
          </button>
        {{/unless}}
      </blockquote>
    {{/if}}
  {{/with}}

  <img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-2.jpg' />
{{/if}}
