{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#with ingredient.amounts.firstObject as |amount|}}
    {{amount.amount}} {{amount.unit}}
  {{/with}}

  {{#if ingredient.referenceTarget}}
    <a href={{ingredient.referenceTarget}}>
      {{markdown-fragment ingredient.name}}
    </a>
  {{else}}
    {{markdown-fragment ingredient.name}}
  {{/if}}

  {{#with ingredient.referenceRecipe as |recipe|}}
    {{component notesComponent (map recipe.ingredients by='name')}}
  {{/with}}

  {{#if ingredient.notes}}
    {{component notesComponent ingredient.notes}}
  {{/if}}
{{/if}}
